.html, body{
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #282828;
    color: #c5c5c5d7;
}

h1{
    font-size: 2.5em;
    padding: 0;
}

.cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.line{
    border-bottom: 1px solid #c5c5c558;
    margin-top: 1vh;
    margin-bottom: 1vh;
    height: 0;
    width: 100%;
}